# Give Me Some Credit (Linear Models and SVM)

In [1]:
import pandas as pd

In [2]:
datapath = 'dataset/'

In [3]:
import os
os.listdir(datapath)

['cs-test.csv',
 'cs-training.csv',
 'Data Dictionary.xls',
 'our_prediction.csv',
 'sampleEntry.csv']

In [4]:
fname = 'cs-training.csv'
data = pd.read_csv(datapath + fname, index_col=0)

In [5]:
# ?pd.read_csv

In [6]:
Y = data['SeriousDlqin2yrs']

In [7]:
X = data.drop('SeriousDlqin2yrs', axis=1)

In [8]:
# X

In [9]:
# data

In [10]:
# Y.count() == len(Y)

In [11]:
X.count()

RevolvingUtilizationOfUnsecuredLines    150000
age                                     150000
NumberOfTime30-59DaysPastDueNotWorse    150000
DebtRatio                               150000
MonthlyIncome                           120269
NumberOfOpenCreditLinesAndLoans         150000
NumberOfTimes90DaysLate                 150000
NumberRealEstateLoansOrLines            150000
NumberOfTime60-89DaysPastDueNotWorse    150000
NumberOfDependents                      146076
dtype: int64

## Cleaning the Data

In [12]:
data['MonthlyIncome'].describe()

count    1.202690e+05
mean     6.670221e+03
std      1.438467e+04
min      0.000000e+00
25%      3.400000e+03
50%      5.400000e+03
75%      8.249000e+03
max      3.008750e+06
Name: MonthlyIncome, dtype: float64

In [13]:
#data[data['MonthlyIncome'] > 100000] ['Monthlyincome']

In [14]:
data[data['MonthlyIncome'].isnull()]

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
7,0,0.305682,57,0,5710.0,NaN,8,0,3,0,0.0
9,0,0.116951,27,0,46.0,NaN,2,0,0,0,NaN
17,0,0.061086,78,0,2058.0,NaN,10,0,2,0,0.0
33,0,0.083418,62,0,977.0,NaN,6,0,1,0,0.0
42,0,0.072898,81,0,75.0,NaN,7,0,0,0,0.0
53,0,1.000000,62,0,0.0,NaN,1,0,0,0,0.0
59,0,0.541109,43,0,2477.0,NaN,3,0,1,0,2.0
63,0,0.101156,72,0,1720.0,NaN,12,0,2,0,0.0
72,0,0.142013,67,0,1824.0,NaN,7,0,2,0,0.0
87,0,0.360510,58,1,3282.0,NaN,8,0,2,0,0.0
93,0,0.784836,52,0,2662.0,NaN,10,0,2,1,0.0
97,0,0.542243,48,2,10.0,NaN,2,0,0,0,NaN
101,0,0.013025,61,0,15.0,NaN,4,0,0,0,0.0
110,0,0.041258,61,0,4739.0,NaN,11,0,4,0,NaN
116,0,0.007508,74,0,7.0,NaN,4,0,0,0,0.0
119,0,0.007521,68,0,269.0,NaN,4,0,0,0,0.0
125,0,0.277957,39,0,4090.0,NaN,9,0,2,0,0.0
131,0,0.175728,43,1,994.0,NaN,4,0,1,0,0.0
142,0,0.576519,72,0,3031.0,NaN,11,0,1,0,0.0
144,0,0.362484,27,0,567.0,NaN,4,0,0,0,0.0
160,0,0.000000,63,0,2.0,NaN,4,0,0,0,NaN
162,0,0.070772,38,0,2088.0,NaN,6,0,1,0,0.0
167,0,0.081380,63,0,1268.0,NaN,8,0,1,0,0.0
172,0,1.000000,29,0,974.0,NaN,2,0,0,0,0.0
180,1,0.946964,35,0,1593.0,NaN,6,0,1,0,1.0
182,0,0.055549,65,0,2177.0,NaN,6,0,1,0,1.0
184,0,0.184987,55,4,3144.0,NaN,11,0,1,0,0.0
188,0,0.011210,86,0,13.0,NaN,3,0,0,0,0.0
193,0,0.000000,49,0,2932.0,NaN,11,0,1,0,0.0
199,0,0.114869,35,0,103.0,NaN,6,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149893,0,0.901650,41,1,1421.0,NaN,12,0,0,0,0.0
149895,0,0.017904,55,0,1058.0,NaN,8,0,1,1,NaN
149898,1,1.019967,41,1,1456.0,NaN,4,0,1,0,0.0
149899,0,1.000000,26,1,0.0,NaN,0,1,0,0,0.0
149913,0,0.052186,71,0,16.0,NaN,2,0,0,0,0.0
149916,0,0.208988,76,0,1903.0,NaN,10,0,2,0,0.0
149919,0,0.015699,77,0,9.0,NaN,2,0,0,0,0.0
149922,0,0.031838,67,0,1182.0,NaN,5,0,1,0,0.0
149923,0,0.761465,41,0,6114.0,NaN,19,0,1,0,2.0
149924,0,0.245212,62,0,3720.0,NaN,16,0,2,0,0.0
149925,1,0.673699,62,1,3653.0,NaN,16,0,1,0,1.0
149932,0,0.005859,66,0,1479.0,NaN,10,0,1,0,0.0
149933,0,0.807021,59,0,5467.0,NaN,19,0,2,0,0.0
149936,0,1.000000,61,0,5.0,NaN,1,0,0,1,0.0
149941,1,0.847041,47,0,432.0,NaN,6,0,0,0,0.0
149947,0,0.923845,38,0,21.0,NaN,2,0,0,0,0.0
149949,0,0.055530,27,0,10.0,NaN,1,0,0,0,NaN
149953,0,0.019785,58,0,1328.0,NaN,6,0,1,0,2.0
149954,0,0.231488,41,0,1198.0,NaN,3,0,1,0,0.0
149959,0,0.457101,63,0,4945.0,NaN,9,0,1,0,0.0
149961,0,0.000000,49,0,353.0,NaN,2,0,0,0,0.0
149964,0,0.230353,61,0,883.0,NaN,15,0,0,0,2.0
149966,0,1.000000,27,0,98.0,NaN,2,0,0,0,NaN
149968,0,0.977899,63,0,517.0,NaN,5,0,0,1,0.0
149976,0,0.022088,58,0,2716.0,NaN,8,0,2,0,0.0
149977,0,0.000627,76,0,60.0,NaN,5,0,0,0,0.0
149978,0,0.236450,29,0,349.0,NaN,3,0,0,0,0.0
149985,0,0.037548,84,0,25.0,NaN,5,0,0,0,0.0
149993,0,0.871976,50,0,4132.0,NaN,11,0,1,0,3.0
149998,0,0.246044,58,0,3870.0,NaN,18,0,1,0,0.0

In [15]:
# help(data)

In [16]:
X['MissingIncome'] = X['MonthlyIncome'].isnull().apply(lambda b: int(b))

In [17]:
# help(X['MonthlyIncome'].isnull().apply)

In [18]:
# X['MissingIncome']

In [19]:
# X[X['MonthlyIncome'].isnull()]['MonthlyIncome'] = -1

In [20]:
def replace_nan_minusl(x):
    if pd.isnull(x):
        return -1
    else:
        return x

In [21]:
X['MonthlyIncome'] = X['MonthlyIncome'].apply(replace_nan_minusl)

In [22]:
X['NumberOfDependents'].describe()

count    146076.000000
mean          0.757222
std           1.115086
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          20.000000
Name: NumberOfDependents, dtype: float64

In [23]:
X['NumberOfDependents'].value_counts()

0.0     86902
1.0     26316
2.0     19522
3.0      9483
4.0      2862
5.0       746
6.0       158
7.0        51
8.0        24
9.0         5
10.0        5
13.0        1
20.0        1
Name: NumberOfDependents, dtype: int64

In [24]:
X.count()

RevolvingUtilizationOfUnsecuredLines    150000
age                                     150000
NumberOfTime30-59DaysPastDueNotWorse    150000
DebtRatio                               150000
MonthlyIncome                           150000
NumberOfOpenCreditLinesAndLoans         150000
NumberOfTimes90DaysLate                 150000
NumberRealEstateLoansOrLines            150000
NumberOfTime60-89DaysPastDueNotWorse    150000
NumberOfDependents                      146076
MissingIncome                           150000
dtype: int64

In [25]:
def replace_nan_by_c(x, c):
    if pd.isnull(x):
        return c
    else:
        return x

In [26]:
X['NumberOfDependents']= X['NumberOfDependents'].apply(lambda x : replace_nan_by_c(x,0))

In [27]:
X.count()

RevolvingUtilizationOfUnsecuredLines    150000
age                                     150000
NumberOfTime30-59DaysPastDueNotWorse    150000
DebtRatio                               150000
MonthlyIncome                           150000
NumberOfOpenCreditLinesAndLoans         150000
NumberOfTimes90DaysLate                 150000
NumberRealEstateLoansOrLines            150000
NumberOfTime60-89DaysPastDueNotWorse    150000
NumberOfDependents                      150000
MissingIncome                           150000
dtype: int64

In [28]:
X.dtypes

RevolvingUtilizationOfUnsecuredLines    float64
age                                       int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                      float64
MissingIncome                             int64
dtype: object

In [29]:
# data

## Train models

In [30]:
import sklearn
from sklearn.linear_model import LinearRegression

In [31]:
lr = LinearRegression()

In [32]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
lr.predict(X)

array([ 0.16965249,  0.08015535,  0.17849261, ...,  0.03313217,
        0.0901498 ,  0.03437346])

In [34]:
min(lr.predict(X))

-0.85373969008960571

In [35]:
max(lr.predict(X))

0.90882335545728532

###### Set the threathhold

In [36]:
thre = .5
ypredict = (lr.predict(X) < thre).astype(int)

In [37]:
min(ypredict)

0

In [38]:
max(ypredict)

1

In [39]:
type(lr.predict(X) < thre)

numpy.ndarray

## Predict

In [40]:
Xtest = pd.read_csv(datapath + 'cs-test.csv').drop('SeriousDlqin2yrs', axis = 1)

In [41]:
# Xtest.index

In [42]:
len(Xtest)

101503

In [43]:
# Xtest

In [44]:
Xtest.count()

Unnamed: 0                              101503
RevolvingUtilizationOfUnsecuredLines    101503
age                                     101503
NumberOfTime30-59DaysPastDueNotWorse    101503
DebtRatio                               101503
MonthlyIncome                            81400
NumberOfOpenCreditLinesAndLoans         101503
NumberOfTimes90DaysLate                 101503
NumberRealEstateLoansOrLines            101503
NumberOfTime60-89DaysPastDueNotWorse    101503
NumberOfDependents                       98877
dtype: int64

In [45]:
ids = Xtest['Unnamed: 0']
Xtest.drop('Unnamed: 0', axis=1, inplace=True)

In [46]:
Xtest['MissingIncome'] = Xtest['MonthlyIncome'].isnull().apply(lambda b: int(b))
Xtest['MonthlyIncome'] = Xtest['MonthlyIncome'].apply(replace_nan_minusl)

In [47]:
Xtest['NumberOfDependents'] = Xtest['NumberOfDependents'].apply(lambda x: replace_nan_by_c(x,0))

In [48]:
ytest = (lr.predict(Xtest) < thre).astype(int)

In [49]:
min(ytest), max(ytest)

(0, 1)

In [50]:
Xtest['Id'] = ids
Xtest['Probability'] = ytest
preds = Xtest[['Id','Probability']]

In [60]:
preds.to_csv('our_prediction.csv', index = False)

In [61]:
# !head our_predictions.csv

## Logistic Regression

In [62]:
from sklearn.linear_model import LogisticRegression

In [63]:
logreg = LogisticRegression(verbose=1)

In [64]:
logreg.fit(X,Y)

[LibLinear]

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=1, warm_start=False)

#### memo
C: $$ \frac{1}{\lambda} $$

class_weight

dual: dual or prime, refer to the textbook

fit_intercept

max_iter:

multi_class:

n_jobs: parallelize with several cores "-1": use core as much

penalty:

random_state: rondam initialization

solver: liblinear is popular solver

tol:

verbose:

warm_start: initialize parameter or start the parameter that we estimated

In [65]:
logregpreds = logreg.predict_proba(Xtest)[:,1]

ValueError: X has 13 features per sample; expecting 11